.movie-view {
  width: 100%;
  padding: 4rem;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.infobtn {
  margin-top: 25px;
  margin-bottom: 25px;
}

.movie-poster {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.movieBack {
  position: absolute;
  right: 42rem;
  top: 20px;
}

.logout {
  position: absolute;
  right: 21rem;
  top: 20px;
}
