.movie-view {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}

.movieBack {
  position: absolute;
  right: auto;
  top: 25px;
}

.logout {
  position: absolute;
  right: 23rem;
  top: 25px;
}
