.btn-link {
  font-size: 100%;
}

.form-text {
  vertical-align: middle;
}

.login-view {
  background-color: white;
  width: 18rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 10px 0 rgba(134, 141, 155, 0.2);
}
