.filterControl {
  width: 100%;
  max-width: auto;
  padding: 15px;
  margin: auto;
  height: 100%;
  box-shadow: 0 0px 20px 0 rgba(15, 15, 15, 0.4);
}

.filterControl:hover {
  box-shadow: 0 0 20px #111111;
}
