$primary-color: #a71d31;
$primary-color-transparent: rgba(167, 29, 49, 0.7);
$secondary-color: #fde74c;
$tertiary-color: #1ea896;

.visibilityFilterForm {
  margin: 10px auto;
  width: 300px;
  background-color: transparent;
  border: 2px solid $tertiary-color;
}

.visibilityFilterForm:focus {
  background-color: transparent;
  outline-offset: none;
  box-shadow: none;
  color: white;
  border: 2px solid $tertiary-color;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.visibilityFilterForm::placeholder {
  color: $secondary-color;
}

.selectFilter {
  margin: 10px auto;
  width: 300px;
  background-color: $tertiary-color;
  border: 2px solid $tertiary-color;
  color: $secondary-color;
}

.selectFilter:focus {
  background-color: $tertiary-color;
  outline-offset: none;
  box-shadow: none;
  color: white;
  border: 2px solid $tertiary-color;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
