.main-view {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 34rem;
  box-shadow: 0 2px 10px 0 rgba(134, 141, 155, 0.2);
}

.card:hover {
  cursor: pointer;
}
