body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.movieCard {
  width: 20rem;
  padding: 10px;
  padding-top: 6rem;
}

.movieCard:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
.card-body {
  padding: 3rem 0 !important;
}
.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.logout {
  position: absolute;
  right: 25px;
  top: 25px;
}
