.movies-col {
  margin: 25px 0 10px 0;
}
.movieCard {
  max-width: 352px;
  height: 775px;
  box-shadow: 0 0 10px #aaaaaa;
}

.movies-img {
  width: 350px;
  height: 500px;
}

.movieCard:hover {
  box-shadow: 0 0 20px #111111;
}

.movies-title {
  height: 50px;
}
.card-text {
  font-size: 0.9rem;
  height: 120px;
  margin: 0;
}

.movies-btn {
  margin: 0;
}

.logout {
  position: absolute;
  right: 25px;
  top: 25px;
}
