.profile-view {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  box-shadow: 0 0px 20px 0 rgba(15, 15, 15, 0.4);
}

.listGroup__delete--button {
  margin: 0;
  float: right;
}
